// ******* colors *******
$titleMain: #fff;
$titleSub: #696969;
$text: #7f7f7f;
$highlight: #1E90FF;

body {
    color: $text;
}

// ******* Mobile First *******
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#header {
    background: url('./img/header.jpg');
    background-size: cover;
    height: 450px;
}

#welcome {
    padding-top: 10.0rem;
    color: $titleMain;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h2 {
    color: $titleSub;
}

ul {
    padding: 0 0 0 20px;
    list-style-type: none;
}

a,
p,
li {
    font-size: 1.3rem;
}

li::before {
    content: "\e800";
    font-family: 'fontello';
    color: $highlight;
    position: absolute;
    margin: 0 2px 0 -20px;
}

#important,
#whoami {
    padding-top: 2.0rem;
}

#whoami-more {
    visibility: hidden;
}

#whoami img {
    float: right;
    margin: 2px;
}

#location iframe {
    width: 100%;
    border: 0;
    height: 400px;
}

hr {
    background-color: $highlight;
    height: 1px;
    border: 0;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
    .container {
        width: 750px;
    }

    #contactdetails {
        width: 450px;
    }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
    .container {
        width: 970px;
    }

    #header {
        height: 500px;
    }

    #location iframe {
        height: 500px;
    }
}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
    .container {
        width: 1170px;
    }

    #header {
        height: 600px;
    }

    #location iframe {
        height: 600px;
    }
}

// ******* links *******
a {
    color: $highlight;
}

a:hover {
    color: $text;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

// ******* typography *******
.text-center {
    text-align: center;
}